[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
django-crispy-forms = "*"
Pillow = "*"
django-sslserver = "*"
netifaces = "*"

[requires]
python_version = "3.9"
