{% extends 'page.html' %}

{% load static %}

{% block title %}Animal Info{% endblock %}

{% block content %}
<h1>Animal Info</h1>
<div class="container py-3 d-flex justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mt-3 mb-5">
                        {% if object.photo %}
                        <img alt="Propic" class="border border-dark rounded-circle img-fluid p-1"
                             height="150" onclick="zoomImage(this);" src="{{ object.photo.url }}"
                             width="150"/>
                        {% else %}
                        <img alt="Propic" class="border border-dark rounded-circle img-fluid p-1"
                             height="150" src="{% static 'images/no-pic-animal.png' %}" width="150"/>
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Name:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.name }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Breed:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.breed }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Sex:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.sex }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Microchip:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.microchip }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Check in date:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.check_in_date }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Birth date:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.birth_date }}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Box:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.box }}</p>
                            </div>
                        </div>

                        {% if perms.animals.view_animaldescription %}
                        <hr>
                        <h3 class="text-center text-light bg-info rounded mt-5">Description</h3>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Size:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.size }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Color:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.color }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Spots:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.spots }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Ears:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.ears }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Hair length:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.hair_length }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Tail:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.tail }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Origin:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.origin }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Particular signs:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ description.particular_signs }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if perms.animals.view_animalmanagement %}
                        <hr>
                        <h3 class="text-center text-light bg-info rounded mt-5">Management</h3>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Sociability with females:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.sociability_with_females }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Sociability with males:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.sociability_with_males }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Sociability with children:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.sociability_with_children }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Needs another dog:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.needs_another_dog }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Needs garden:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.needs_garden }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Walk equipment:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.walk_equipment }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Flag warning:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ management.flag_warning }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if perms.animals.view_animalhealth %}
                        <hr>
                        <h3 class="text-center text-light bg-info rounded mt-5">Health</h3>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Pathologies:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ health.pathologies }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Diet:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ health.diet }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Note:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ health.note }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Created: <span class="lead">{{ object.created }}</span></h4>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Modified: <span class="lead">{{ object.modified }}</span></h4>
                        </div>
                        {% if perms.animals.change_animal or perms.animals.delete_animal %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if perms.animals.change_animal %}
                            <div class="col-12 {% if perms.animals.delete_animal %}mb-3{% endif %}">
                                <a href="{% url 'animals:animal-update' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Edit Animal
                                        <img alt="Update" height="24" src="{% static 'images/pencil.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.animals.delete_animal %}
                            <div class="col-12">
                                <a href="{% url 'animals:animal-delete' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Delete
                                        <img alt="Delete" height="24" src="{% static 'images/remove.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
