{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}Animals{% endblock %}
{% block content_title %}Animals{% endblock %}

{% block thead %}
<th class="text-center">Photo</th>
<th class="text-center">Name</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for animal in object_list %}
<tr>
    {% if animal.photo %}
    <td class="text-center">
        <img alt="Propic" class="img-fluid" height="32" onclick="zoomImage(this);" src="{{ animal.photo.url }}"
             width="32"/>
    </td>
    {% else %}
    <td class="text-center">
        <img alt="Propic" class="img-fluid" height="32" src="{% static 'images/no-pic-animal.png' %}" width="32"/>
    </td>
    {% endif %}
    <td class="text-center">{{ animal.name }}</td>
    <td class="text-center">
        <a href="{% url 'animals:animal-info' animal.pk %}"><img alt="Info" height="24"
                                                                 src="{% static 'images/info.png' %}"
                                                                 width="24"></a>
        {% if perms.animals.change_animal %}
        <a href="{% url 'animals:animal-update' animal.pk %}"><img alt="Update" height="24"
                                                                   src="{% static 'images/pencil.png' %}" width="24"></a>
        {% endif %}
        {% if perms.animals.delete_animal %}
        <a href="{% url 'animals:animal-delete' animal.pk %}"><img alt="Delete" height="24"
                                                                   src="{% static 'images/remove.png' %}" width="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
{% if perms.animals.add_animal %}
<div class="d-flex flex-column align-items-center">
    <a class="btn btn-primary w-75" href="{% url 'animals:animal-create' %}">Register new Animal</a>
    <input aria-label="Search" class="form-control my-2 w-75" oninput="filterElements(this)" placeholder="Search"
           type="search">
</div>
{% endif %}
{% endblock %}
