/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* <GENERIC> */
form {
  padding: 0 2%;
}
h1 {
  text-align: center;
}
/* </GENERIC> */

/* <FULLCALENDAR> */
#calendar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fc-header-toolbar { /* the calendar will be butting up against the edges, but let's scoot in the header's buttons */
  padding: 1%;
}
.fc-daygrid-day-number {
  text-decoration: none !important;
}
.fc-col-header-cell-cushion, .fc-col-header-cell-cushion:hover {
  text-decoration: none;
  color: black;
  cursor: default !important;
}
/* </FULLCALENDAR> */

/* <MODAL IMAGE ZOOMING (W3C)> */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
#imgmodal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Add Animation */
#imgmodal {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {-webkit-transform:scale(0);transform:scale(0)}
  to {-webkit-transform:scale(1);transform:scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #imgmodal {
    width: 100%;
  }
}
/* </MODAL IMAGE ZOOMING (W3C)> */

/* <ADMIN FilteredSelectMultiple> */
.selector {
    display: flex;
    width: 100% !important;
    float: none !important;
}
.selector .selector-available, .selector .selector-chosen {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 10px;
    width: 100% !important;
    float: none !important;
}
.selector .selector-available h2, .selector .selector-chosen h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
    font-weight: bolder;
    background: none !important;
    color: none !important;
}
.selector .selector-available .selector-filter {
    display: flex;
    align-items: center;
}
.selector .selector-available .selector-filter label {
    margin: 0 8px 0 0;
}
.selector .selector-available .selector-filter input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.selector .selector-available .help-tooltip, .selector .selector-available .help-icon,
.selector .selector-chosen .help-tooltip, .selector .selector-chosen .help-icon {
    display: inline-block;
}
.selector .selector-available .help-icon, .selector .selector-chosen .help-icon {
    background: url(/static/admin/img/icon-unknown.svg) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    width: 13px;
    height: 13px;
}
.selector .selector-available .filtered, .selector .selector-chosen .filtered {
    height: auto;
    min-height: 150px;
    border: 1px solid #343a40;
}
.selector .selector-available .filtered .selector-chooseall, .selector .selector-chosen .filtered .selector-clearall {
    display: block !important;
}
.selector .selector-available .filtered, .selector .selector-chosen .filtered {
    display: block !important;
    width: 100% !important;
}
.selector ul.selector-chooser {
    display: block;
    float: none;
    width: 52px;
    height: 26px;
    padding: 0 2px;
    margin: 15px auto 40px;
    transform: none;
}
#submit-id-save {
    margin-top: 15px;
}
/* </ADMIN FilteredSelectMultiple> */