/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 50 version
*/

/* <GENERIC> */
html {
  scroll-behavior: smooth;
}
form {
  padding: 0 2%;
}
h1 {
  text-align: center;
}
.field-error {
  font-size: 80%;
  color: #dc3545;
}
/* </GENERIC> */

/* <FULLCALENDAR> */
#calendar {
  min-height: 100%;
}
.fc-header-toolbar { /* the calendar will be butting up against the edges, but let's scoot in the header's buttons */
  padding: 1%;
}
.fc-daygrid-day-number {
  text-decoration: none !important;
  color: black;
}
.fc-col-header-cell-cushion, .fc-col-header-cell-cushion:hover {
  text-decoration: none;
  color: black;
  cursor: default !important;
}
/* </FULLCALENDAR> */

/* <CHARTJS> */
.chart-wrapper {
  max-width: 500px;
}
/* </CHARTJS> */

/* <MODAL IMAGE ZOOMING (W3C)> */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
#imgmodal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Add Animation */
#imgmodal {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {-webkit-transform:scale(0);transform:scale(0)}
  to {-webkit-transform:scale(1);transform:scale(1)}
}
/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #imgmodal {
    width: 100%;
  }
}
/* </MODAL IMAGE ZOOMING (W3C)> */

/* <CUSTOM FilteredSelectMultiple> */
.list-group-scrollbar-container {
  max-height: 500px;
  overflow-y: scroll;
}
/* if there are elements, it removes the message that they are not present */
.list-group label + p {
    display: none;
}
.list-group label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; /*can't select text*/
}
.list-group label input {
  margin-right: 1.5em;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background: lightgray;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  color: white;
}
.list-group label input:checked {
  background-color: #1E90FF;
  color: #FFF;
}
.errorlist {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.errorlist li {
  color: red;
  font-weight: bold;
}
/* </CUSTOM FilteredSelectMultiple> */

/* <Notifications toast> */
#notifications-area {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#notifications-area .toast {
  z-index: 20;
  max-width: 95%;
  margin: 10px 2.5%;
  position: relative;
  background-color: #fff;
}
#notifications-area .toast .toast-body {
  max-height: 300px;
  overflow: scroll;
}
/* </Notifications toast> */