{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}Areas{% endblock %}
{% block content_title %}Areas{% endblock %}

{% block thead %}
<th class="text-center">Name</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for area in object_list %}
<tr>
    <td class="text-center">{{ area.name }}</td>
    <td class="text-center">
        {% if perms.facility.view_area %}
        <a href="{% url 'facility:area-info' area.pk %}"><img src="{% static 'images/info.png' %}" alt="Info" width="24" height="24"></a>
        {% endif %}
        {% if perms.facility.change_area %}
        <a href="{% url 'facility:area-update' area.pk %}"><img src="{% static 'images/pencil.png' %}" alt="Update" width="24" height="24"></a>
        {% endif %}
        {% if perms.facility.delete_area %}
        <a href="{% url 'facility:area-delete' area.pk %}"><img src="{% static 'images/remove.png' %}" alt="Delete" width="24" height="24"></a>
        {% endif %}
        {% if perms.facility.area_view_boxes %}
        <a href="{% url 'facility:area-boxes' area.pk %}"><img src="{% static 'images/boxes-stack.png' %}" alt="Area add boxes" width="24" height="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
<div class="d-flex flex-column align-items-center">
    {% if perms.facility.add_area %}
    <a href="{% url 'facility:area-create' %}" class="btn btn-primary w-75">Register new Area</a>
    {% endif %}
    <input type="search" class="form-control my-2 w-75" aria-label="Search" placeholder="Search"
           oninput="filterElements(this)">
</div>
{% endblock %}
