{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}{{ area.name }} Boxes{% endblock %}
{% block content_title %}{{ area.name }} Boxes{% endblock %}

{% block thead %}
<th class="text-center">Name</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for box in boxes %}
<tr>
    <td class="text-center">{{ box.name }}</td>
    <td class="text-center">
        {% if perms.facility.view_box %}
        <a href="{% url 'facility:box-info' box.pk %}"><img alt="Info" height="24" src="{% static 'images/info.png' %}"
                                                            width="24"></a>
        {% endif %}
        {% if perms.facility.area_delete_boxes %}
        <a href="{% url 'facility:area-delete-box' area.pk box.pk %}"><img alt="Delete"
                                                                           height="24"
                                                                           src="{% static 'images/remove.png' %}"
                                                                           width="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
<div class="d-flex flex-column align-items-center">
    {% if perms.facility.area_add_boxes %}
    <a class="btn btn-primary w-75" href="{% url 'facility:area-add-boxes' area.pk %}">Add Boxes</a>
    {% endif %}
    {% if perms.facility.area_delete_boxes %}
    <a class="btn btn-danger w-75 m-2" href="{% url 'facility:area-delete-all-boxes' area.pk %}">Delete All Boxes</a>
    {% endif %}
    <input aria-label="Search" class="form-control my-2 w-75" oninput="filterElements(this)" placeholder="Search"
           type="search">
</div>
{% endblock %}
