{% extends 'page.html' %}

{% load crispy_forms_tags %}

{% block title %}{{view_text}} Area{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
    <li class="breadcrumb-item"><a href="{% url 'facility:areas-list' %}">Areas</a></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">{{view_text}}</li>
{% endblock %}

{% block content %}
<h1>{{view_text}} Area</h1>
<form enctype="multipart/form-data" id="wrapper_crispy_form" method="post">
    {% csrf_token %}

    {{ form.name | as_crispy_field }}

    <div class="form-group">
        <div class="">
            <input class="btn btn-primary" id="submit-id-save" type="submit" value="{{view_text}}">
        </div>
    </div>
</form>
{% endblock %}