{% extends 'page.html' %}

{% load static %}

{% block title %}Area Info{% endblock %}

{% block content %}
<h1>Area Info</h1>
<div class="container py-3 d-flex justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Name:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead">{{ object.name }}</p>
                            </div>
                        </div>
                        {% if perms.facility.change_area or perms.facility.area_view_boxes or perms.facility.delete_area %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if perms.facility.change_area %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'facility:area-update' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Edit
                                        <img alt="Update" height="24" src="{% static 'images/pencil.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.facility.area_view_boxes %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'facility:area-boxes' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        All Boxes
                                        <img alt="Members" height="24" src="{% static 'images/members.png' %}"
                                             width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.facility.delete_area %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'facility:area-delete' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Delete
                                        <img alt="Delete" height="24" src="{% static 'images/remove.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Created: <span class="lead">{{ object.created }}</span></h4>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Modified: <span class="lead">{{ object.modified }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
