{% extends 'page.html' %}

{% block title %}Delete Box From Area{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
    <li class="breadcrumb-item"><a href="{% url 'facility:areas-list' %}">Areas</a></li>
    <li class="breadcrumb-item"><a href="{% url 'facility:area-boxes' area.pk %}">Boxes</a></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Delete Box</li>
{% endblock %}

{% block content %}
<h1>Delete Box From Area</h1>
<form method="post">{% csrf_token %}
    <div class="text-center pt-3 d-flex flex-column justify-content-center">
        <p>You are going to remove <b>{{ delete_box }}</b> from <b>{{ area.name }}</b> area, are you sure?</p>
        <div class="d-flex justify-content-around">
            {% if perms.facility.area_view_boxes %}
            <a href="{% url 'facility:area-boxes' area.pk %}" class="text-decoration-none">
                <button type="button" class="btn btn-lg btn-secondary">
                    Cancel
                </button>
            </a>
            {% else %}
            <a href="{% url 'homepage' %}" class="text-decoration-none">
                <button type="button" class="btn btn-lg btn-secondary">
                    Cancel
                </button>
            </a>
            {% endif %}
            <input class="btn btn-lg btn-danger" type="submit" value="Delete">
        </div>
    </div>
</form>
{% endblock %}