{% extends 'page.html' %}

{% load static %}

{% block title %}Box Info{% endblock %}

{% block content %}
<h1>Box Info</h1>
<div class="container py-3 d-flex justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Name:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.name }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Located Area:</b>
                            </div>
                            <div class="col-7 mb-2">
                                <p class="lead"> {{ object.located_area.name }}</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-5 mb-2">
                                <b>Who lives here:</b>
                            </div>
                            <div class="col-7 mb-2">
                                {% if object.who_lives_here.all %}
                                {% for animal in object.who_lives_here.all %}
                                    {% if perms.animals.view_animal %}
                                    <a href="{% url 'animals:animal-info' animal.pk %}" class="text-decoration-none">{{ animal.name }}</a>
                                    {% else %}
                                    <p class="lead">{{ animal.name }}</p>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if perms.facility.change_box or perms.facility.delete_box %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if perms.facility.change_box %}
                            <div class="col-12 {% if perms.facility.delete_box %}mb-3{% endif %}">
                                <a href="{% url 'facility:box-update' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Edit
                                        <img alt="Update" height="24" src="{% static 'images/pencil.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.facility.delete_box %}
                            <div class="col-12">
                                <a href="{% url 'facility:box-delete' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Delete
                                        <img alt="Delete" height="24" src="{% static 'images/remove.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Created: <span class="lead">{{ object.created }}</span></h4>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Modified: <span class="lead">{{ object.modified }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
