{% extends 'page.html' %}

{% load crispy_forms_tags %}

{% block title %}Update Legal Information{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
    <li class="breadcrumb-item">Legal Information</li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}

{% block content %}
<h1>Update Legal Information</h1>
<form enctype="multipart/form-data" id="wrapper_crispy_form" method="post">
    {% csrf_token %}

    {{ form.email | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    {{ form.region | as_crispy_field }}
    {{ form.city | as_crispy_field }}
    {{ form.province | as_crispy_field }}
    {{ form.address | as_crispy_field }}
    {{ form.mobile_phone | as_crispy_field }}
    {{ form.landline_phone | as_crispy_field }}
    {{ form.about_us | as_crispy_field }}
    {{ form.responsible | as_crispy_field }}

    <div class="form-group">
        <div class="">
            <input class="btn btn-primary" id="submit-id-save" type="submit" value="Update">
        </div>
    </div>
</form>
{% endblock %}
