{% extends 'page.html' %}

{% load static %}

{% block title %}Group Info{% endblock %}

{% block content %}
    <h1>Group Info</h1>
    <h3>Group Name: {{ group_name }}</h3>
    <br>
    <h3>Group Permissions:</h3>
    <ul>
    {% for permission in group_permissions %}
        <li><p class="lead">{{ permission }}</p></li><br>
    {% endfor %}
    </ul>
    <br>
    <h3>Actions:</h3>
    <a href="{% url 'users:group-update' user.pk %}"><img src="{% static 'images/pencil.png' %}" alt="Update" width="24" height="24"></a>
    <a href="{% url 'users:group-delete' user.pk %}"><img src="{% static 'images/remove.png' %}" alt="Delete" width="24" height="24"></a>
{% endblock %}
