{% extends 'page.html' %}

{% load static %}

{% block title %}Group Info{% endblock %}

{% block content %}
<h1>Group Info</h1>
<div class="container py-3 d-flex justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <h2 class="mb-2 text-primary">{{ object.name }}</h2>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-3 mb-2">
                                <img alt="Permissions" height="32" src="{% static 'images/permissions.png' %}"
                                     width="32">
                            </div>
                            <div class="col-9 mb-2">
                                {% for permission in object.permissions.all %}
                                <span class="badge badge-success">{{ permission.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% if perms.auth.change_group or perms.users.group_view_members or perms.auth.delete_group %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if perms.auth.change_group %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'users:group-update' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Edit
                                        <img alt="Update" height="24" src="{% static 'images/pencil.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.users.group_view_members %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'users:group-members' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        All Members
                                        <img alt="Members" height="24" src="{% static 'images/members.png' %}"
                                             width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.auth.delete_group %}
                            <div class="col-12 mb-3">
                                <a href="{% url 'users:group-delete' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Delete
                                        <img alt="Delete" height="24" src="{% static 'images/remove.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
