{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}Groups{% endblock %}
{% block content_title %}Groups{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Groups</li>
{% endblock %}

{% block thead %}
<th class="text-center">Name</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for group in object_list %}
<tr>
    <td class="text-center">{{ group.name }}</td>
    <td class="text-center">
        {% if perms.auth.view_group %}
        <a href="{% url 'users:group-info' group.pk %}"><img src="{% static 'images/info.png' %}" alt="Info" width="24"
                                                             height="24"></a>
        {% endif %}
        {% if perms.auth.change_group %}
        <a href="{% url 'users:group-update' group.pk %}"><img src="{% static 'images/pencil.png' %}" alt="Update"
                                                               width="24" height="24"></a>
        {% endif %}
        {% if perms.auth.delete_group %}
        <a href="{% url 'users:group-delete' group.pk %}"><img src="{% static 'images/remove.png' %}" alt="Delete"
                                                               width="24" height="24"></a>
        {% endif %}
        {% if perms.users.group_view_members %}
        <a href="{% url 'users:group-members' group.pk %}"><img src="{% static 'images/members.png' %}" alt="Delete"
                                                                width="24" height="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
<div class="d-flex flex-column align-items-center">
    {% if perms.auth.add_group %}
    <a href="{% url 'users:group-create' %}" class="btn btn-primary w-75">Create new Group</a>
    {% endif %}
    <input type="search" class="form-control my-2 w-75" aria-label="Search" placeholder="Search"
           oninput="filterElements(this)">
</div>
{% endblock %}
