{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}{{ group.name }} Members{% endblock %}
{% block content_title %}{{ group.name }} Members{% endblock %}

{% block thead %}
<th class="text-center">Photo</th>
<th class="text-center">Username</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for member in members %}
<tr>
    {% if member.photo %}
    <td class="text-center">
        <img src="{{ member.photo.url }}" alt="Propic" class="img-fluid" height="32" width="32"
             onclick="zoomImage(this);"/>
    </td>
    {% else %}
    <td class="text-center">
        <img src="{% static 'images/no-pic-user.png' %}" alt="Propic" class="img-fluid" height="32" width="32"/>
    </td>
    {% endif %}
    <td class="text-center">{{ member.username }}</td>
    <td class="text-center">
        {% if perms.users.view_user or perms.users.view_profile and member.pk == request.user.pk %} {# and has higher precedence than or #}
        <a href="{% url 'users:user-info' member.pk %}"><img src="{% static 'images/info.png' %}" alt="Info" width="24"
                                                             height="24"></a>
        {% endif %}
        {% if perms.users.group_delete_users_from_group %}
        <a href="{% url 'users:group-delete-user' group.pk member.pk %}"><img src="{% static 'images/remove.png' %}"
                                                                              alt="Delete" width="24" height="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
<div class="d-flex flex-column align-items-center">
    {% if perms.users.group_add_users_to_group %}
    <a href="{% url 'users:group-add-user' group.pk %}" class="btn btn-primary w-75">Add User</a>
    {% endif %}
    {% if perms.users.group_delete_users_from_group %}
    <a class="btn btn-danger w-75 m-2" href="{% url 'users:group-delete-all-users' group.pk %}">Delete All Users</a>
    {% endif %}
    <input type="search" class="form-control my-2 w-75" aria-label="Search" placeholder="Search"
           oninput="filterElements(this)">
</div>
{% endblock %}
