{% extends 'page_list.html' %}

{% load static %}

{% block list_title %}Users{% endblock %}
{% block content_title %}Users{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock %}

{% block thead %}
<th class="text-center">Photo</th>
<th class="text-center">Username</th>
<th class="text-center">Actions</th>
{% endblock %}

{% block tbody %}
{% for profile in object_list %}
<tr>
    {% if profile.photo %}
    <td class="text-center">
        <img src="{{ profile.photo.url }}" alt="Propic" class="img-fluid" height="32" width="32"
             onclick="zoomImage(this);"/>
    </td>
    {% else %}
    <td class="text-center">
        <img src="{% static 'images/no-pic-user.png' %}" alt="Propic" class="img-fluid" height="32" width="32"/>
    </td>
    {% endif %}
    <td class="text-center">{{ profile.username }}</td>
    <td class="text-center">
        {% if perms.users.view_user or perms.users.view_profile and profile.pk == request.user.pk %} {# and has higher precedence than or #}
        <a href="{% url 'users:user-info' profile.pk %}"><img src="{% static 'images/info.png' %}" alt="Info" width="24"
                                                             height="24"></a>
        {% endif %}
        {% if perms.users.change_user or perms.users.change_profile and profile.pk == request.user.pk %} {# and has higher precedence than or #}
        <a href="{% url 'users:user-update' profile.pk %}"><img src="{% static 'images/pencil.png' %}" alt="Update"
                                                               width="24" height="24"></a>
        {% endif %}
        {% if perms.users.delete_user or perms.users.delete_profile and profile.pk == request.user.pk %} {# and has higher precedence than or #}
        <a href="{% url 'users:user-delete' profile.pk %}"><img src="{% static 'images/remove.png' %}" alt="Delete"
                                                               width="24" height="24"></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block table_before %}
<div class="d-flex flex-column align-items-center">
    {% if perms.users.add_user %}
    <a href="{% url 'users:user-create' %}" class="btn btn-primary w-75">Register new User</a>
    {% endif %}
    <input type="search" class="form-control my-2 w-75" aria-label="Search" placeholder="Search"
           oninput="filterElements(this)">
</div>
{% endblock %}
