{% extends 'page.html' %}

{% load static %}

{% block title %}Info User{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
    <li class="breadcrumb-item"><a href="{% url 'users:users-list' %}">Users</a></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Info</li>
{% endblock %}

{% block content %}
<h1>Info User</h1>
<div class="container py-3 d-flex justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mt-3 mb-2">
                        {% if object.photo %}
                        <img alt="Propic" class="border border-dark rounded-circle img-fluid p-1"
                             height="150" onclick="zoomImage(this);" src="{{ object.photo.url }}"
                             width="150"/>
                        {% else %}
                        <img alt="Propic" class="border border-dark rounded-circle img-fluid p-1"
                             height="150" src="{% static 'images/no-pic-user.png' %}" width="150"/>
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <h3 class="mb-2 text-primary">@{{ object.username }}</h3>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">{{ object.first_name }} {{ object.last_name }}</h4>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-3 mb-2">
                                <img alt="Groups" height="32" src="{% static 'images/members.png' %}" width="32">
                            </div>
                            <div class="col-9 mb-2">
                                {% for group in object.groups.all %}
                                    {% if perms.auth.view_group %}
                                    <a class="text-decoration-none" href="{% url 'users:group-info' group.pk %}">
                                        <span class="badge badge-info">{{ group }}</span>
                                    </a>
                                    {% else %}
                                    <span class="badge badge-info">{{ group }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-3">
                                <img alt="Phone" height="32" src="{% static 'images/phone.png' %}" width="32">
                            </div>
                            <div class="col-9">
                                <span class="text-monospace">{{ object.phone }}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-3">
                                <img alt="Email" height="32" src="{% static 'images/mail.png' %}" width="32">
                            </div>
                            <div class="col-9">
                                <span class="text-monospace">{{ object.email }}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-3 mb-2">
                                <img alt="Permissions" height="32" src="{% static 'images/permissions.png' %}"
                                     width="32">
                            </div>
                            <div class="col-9 mb-2">
                                {% if object.is_superuser %}
                                <span class="display-4 font-weight-bold">&infin;</span>
                                {% else %}
                                    {% for permission in permissions %}
                                        <span class="badge badge-success">{{ permission.name }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if perms.users.change_user or perms.users.change_profile and object.pk == request.user.pk or perms.users.delete_user or perms.users.delete_profile and object.pk == request.user.pk %} {# and has higher precedence than or #}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            {% if perms.users.change_user or perms.users.change_profile and object.pk == request.user.pk %} {# and has higher precedence than or #}
                            <div class="col-12 mb-3">
                                <a href="{% url 'users:user-update' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Edit
                                        <img alt="Update" height="24" src="{% static 'images/pencil.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if perms.users.delete_user or perms.users.delete_profile and object.pk == request.user.pk %} {# and has higher precedence than or #}
                            <div class="col-12 mb-3">
                                <a href="{% url 'users:user-delete' object.pk %}">
                                    <button class="btn btn-outline-secondary" type="button">
                                        Delete
                                        <img alt="Delete" height="24" src="{% static 'images/remove.png' %}" width="24">
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <hr>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Created: <span class="lead">{{ object.created }}</span></h4>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <h4 class="mb-2">Modified: <span class="lead">{{ object.modified }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
