{% extends 'page.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Management</b></li>
    <li class="breadcrumb-item">Account</li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}

{% block content %}
<h1>Login</h1>
<form class="mb-5" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success" value="Login">
</form>
{% endblock %}
