{% extends 'page.html' %}

{% block title %}Delete Event{% endblock %}

{% block breadcrumb-items %}
    <li class="breadcrumb-item"><b>Calendar</b></li>
    <li class="breadcrumb-item"><a href="{% url 'activities:events-list' %}">Events</a></li>
{% endblock %}
{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}

{% block content %}
<h1>Delete Event</h1>
<form method="post">{% csrf_token %}
    <div class="text-center pt-3 d-flex flex-column justify-content-center">
        <p>You are going to delete <b>[{{ object.pk }}] {{ object.datetime }} - {{ object.activity }}</b> event, are you sure?</p>
        <div class="d-flex justify-content-around">
            {% if perms.facility.view_event %}
            <a href="{% url 'activities:events-list' %}" class="text-decoration-none">
                <button type="button" class="btn btn-lg btn-secondary">
                    Cancel
                </button>
            </a>
            {% else %}
            <a href="{% url 'homepage' %}" class="text-decoration-none">
                <button type="button" class="btn btn-lg btn-secondary">
                    Cancel
                </button>
            </a>
            {% endif %}
            <input class="btn btn-lg btn-danger" type="submit" value="Delete">
        </div>
    </div>
</form>
{% endblock %}
