<!doctype html>
<html class="h-100" lang="en">
<head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block add_meta %}{% endblock %}

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/jpg"/>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    {% block other_css_libs %}{% endblock %}

    <!-- Main css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Extra css -->
    {% block extra_head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
{% for message in messages %}
<div class="alert
          {% if message.level == 10 %}
            alert-secondary
          {% elif message.level == 20 %}
            alert-info
          {% elif message.level == 25 %}
            alert-success
          {% elif message.level == 30 %}
            alert-warning
          {% elif message.level == 40 %}
            alert-danger
          {% else %}
            alert-info
          {% endif %}
         alert-dismissable fade show" role="alert">
    {{ message | safe }}
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% block header %}{% endblock %}

{% block modal %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script crossorigin="anonymous"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

{% block other_js_libs %}{% endblock %}

<!-- Main JS -->
<script charset="utf-8" src="{% static 'js/main.js' %}"></script>

{% block extra_body %}
<script>
let img = "";
let title = "";
let textbody = "";
let onclose_url = "";
let onclose_pk = "";
let onclick_url = "";
{% for notification in mynotifications %}
    {% if notification.creator.photo %}
    img = "{{ notification.creator.photo.url }}";
    {% else %}
    img = "{% static 'images/no-pic-user.png' %}";
    {% endif %}
    title = "{{ notification.title }}";
    textbody = "{{ notification.text | safe }}";
    onclose_url = "{% url 'notifications:read-notification' %}";
    onclose_pk = "{{ notification.pk }}";
    onclick_url = "{% url 'notifications:notification-info' notification.pk %}";
    notify_user(title, textbody, img, onclose_url, onclose_pk, onclick_url);
{% endfor %}
</script>
{% endblock %}
</body>
</html>
