{% extends 'page.html' %}

{% block title %}Homepage{% endblock %}

{% block breadcrumb-active %}
    <li class="breadcrumb-item active" aria-current="page"><b>Homepage</b></li>
{% endblock %}

{% block other_js_libs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
        integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<h1>Homepage</h1>
<div class="container-fluid mt-5">
    <h3 class="text-center">Events number in the last week</h3>
    <div class="row justify-content-center">
        <div class="chart-wrapper w-100">
            <canvas id="last-week-events-number" width="500" height="500" ></canvas>
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="container-fluid mt-5">
    <h3 class="text-center">Number of events per activities in the last week</h3>
    <div class="row justify-content-center">
        <div class="chart-wrapper w-100">
            <canvas id="last-week-events-per-activity-number" width="500" height="500" ></canvas>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <h3 class="text-center">Number of activities made per animal today</h3>
    <div class="row justify-content-center">
        <div class="chart-wrapper w-100">
            <canvas id="today-activities-per-animal-number" width="500" height="500" ></canvas>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_body %}
<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split(''); // HEX
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

random_colors_week = [];
for (let i = 0; i < {{dates|length}}; i++) {
  random_colors_week.push(getRandomColor());
}
const LastWeekEventsNumber = new Chart(document.querySelector('#last-week-events-number'), {
    type: 'bar',
    data: {
        labels: {{dates|safe}},
        datasets: [{
            label: 'Number of Events',
            data: {{eventsnumber|safe}},
            backgroundColor: random_colors_week
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    precision: 0
                }
            }
        },
        plugins:{
            legend: {
                display: false
            }
        }
    }
});

{% if request.user.is_authenticated %}
random_colors_activities = [];
for (let i = 0; i < {{activities|length}}; i++) {
  random_colors_activities.push(getRandomColor());
}
const LastWeekEventsPerActivityNumber = new Chart(document.querySelector('#last-week-events-per-activity-number'), {
    type: 'doughnut',
    data: {
        labels: {{activities|safe}},
        datasets: [{
            label: 'Number of Events',
            data: {{eventsactivity|safe}},
            backgroundColor: random_colors_activities
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
    }
});


random_colors_animals = [];
for (let i = 0; i < {{animals|length}}; i++) {
  random_colors_animals.push(getRandomColor());
}
const TodayActivitiesPerAnimalNumber = new Chart(document.querySelector('#today-activities-per-animal-number'), {
    type: 'bar',
    data: {
        labels: {{animals|safe}},
        datasets: [{
            label: 'Number of Activities',
            data: {{activitiesnumber|safe}},
            backgroundColor: random_colors_animals
        }]
    },
    options: {
        indexAxis: 'y',
        responsive: true,
        maintainAspectRatio: true,
        scales: {
            x: {
                beginAtZero: true,
                ticks: {
                    precision: 0
                }
            }
        },
        plugins:{
            legend: {
                display: false
            }
        }
    }
});
{% endif %}
</script>
{% endblock %}
