{% extends 'base.html' %}

{% load static %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'images/logo.png' %}" alt="Balto" width="35" height="35"
                 class="d-inline-block align-text-center">
            Balto
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-center" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownAccount" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-center" href="{% url 'users:users-list' %}">All users</a>
                        <a class="dropdown-item text-center" href="{% url 'users:user-info' user.pk %}">Profile</a>
                        {% if perms.user.change_user %}
                        <a class="dropdown-item text-center" href="{% url 'users:user-update' user.pk %}">Update</a>
                        {% endif %}
                        <a class="dropdown-item text-center" href="{% url 'users:user-password-change' %}">Change
                            Password</a>
                        <div class="dropdown-divider"></div>
                        {% if perms.user.delete_user %}
                        <a class="dropdown-item text-center" href="{% url 'users:user-delete' user.pk %}">Delete</a>
                        {% endif %}
                        <a class="dropdown-item text-center" href="{% url 'users:user-logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'users:user-login' %}">Login</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownManagement" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-center" href="{% url 'users:groups-list' %}">All Groups</a>
                        {% if perms.group.add_group %}
                        <a class="dropdown-item text-center" href="{% url 'users:group-create' %}">Create Group</a>
                        {% endif %}
                        {% if perms.user.add_user %}
                        <a class="dropdown-item text-center" href="{% url 'users:user-create' %}">Create User</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Animals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'calendar' %}">Calendar</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}


{% block modal %}
<div id="modal">
    <button type="button" class="close" aria-label="Close" id="close" onclick="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <img id="imgmodal" src="" alt="Modal Image">
</div>
{% endblock %}


{% block footer %}
<footer class="footer mt-auto pt-3 pb-2 bg-light">
    <div class="row text-center mr-0 ml-0 align-items-center">
        <div class="col-md-4">
            <h5>About</h5>
            <p class="text-muted">
                {% lorem %}
            </p>
        </div>
        <div class="col-md-4 py-5 py-md-0">
            <h5>Site Links</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'users:users-list' %}">All users</a></li>
                {% if user.is_authenticated %}
                <li><a class="text-muted" href="{% url 'users:user-info' user.pk %}">Profile</a></li>
                {% endif %}
                <li><a class="text-muted" href="{% url 'users:groups-list' %}">All groups</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-secondary" onclick="topFunction()">
                <i class="bi bi-arrow-up"></i>
            </button>
        </div>
    </div>
</footer>
{% endblock %}
