{% extends 'base.html' %}

{% load static %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img alt="Balto" class="d-inline-block align-text-center" height="35" src="{% static 'images/logo.png' %}" width="35">
            Balto
        </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'homepage' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-center"
                           data-toggle="dropdown" href="#" id="navbarDropdownAccount" role="button">
                            Account
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <p class="text-center font-weight-bolder">Logged in as: @{{request.user.username}}</p>
                            <div class="dropdown-divider"></div>
                            {% if perms.users.view_profile or perms.users.view_user %}
                            <a class="dropdown-item text-center" href="{% url 'users:user-info' request.user.pk %}">My Profile</a>
                            {% endif %}
                            {% if perms.users.change_profile or perms.users.change_user %}
                            <a class="dropdown-item text-center" href="{% url 'users:user-update' request.user.pk %}">Edit Profile</a>
                            {% endif %}
                            <a class="dropdown-item text-center" href="{% url 'users:user-password-change' %}">Change Password</a>
                            {% if perms.users.delete_profile or perms.users.delete_user %}
                            <a class="dropdown-item text-center" href="{% url 'users:user-delete' request.user.pk %}">Delete Profile</a>
                            {% endif %}
                            <a class="dropdown-item text-center" href="{% url 'users:user-logout' %}">Logout</a>
                        </div>
                    </li>
                    {% if perms.auth.view_group or perms.auth.add_group or perms.users.view_user or perms.users.add_user or perms.facility.view_area or perms.facility.add_area or perms.facility.view_box or perms.facility.add_box or perms.activities.view_activity or perms.activities.change_activity or perms.facility.view_legalinformation or perms.facility.change_legalinformation %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-center"
                           data-toggle="dropdown" href="#" id="navbarDropdownManagement" role="button">
                            Management
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% if perms.auth.view_group or perms.users.view_user or perms.facility.view_area or perms.facility.view_box or perms.activities.view_activity %}
                                <p class="text-center font-weight-bolder">View</p>
                                {% if perms.auth.view_group %}
                                <a class="dropdown-item text-center" href="{% url 'users:groups-list' %}">Groups</a>
                                {% endif %}
                                {% if perms.users.view_user %}
                                <a class="dropdown-item text-center" href="{% url 'users:users-list' %}">Users</a>
                                {% endif %}
                                {% if perms.facility.view_area %}
                                <a class="dropdown-item text-center" href="{% url 'facility:areas-list' %}">Areas</a>
                                {% endif %}
                                {% if perms.facility.view_box %}
                                <a class="dropdown-item text-center" href="{% url 'facility:boxes-list' %}">Boxes</a>
                                {% endif %}
                                {% if perms.activities.view_activity %}
                                <a class="dropdown-item text-center" href="{% url 'activities:activities-list' %}">Activities</a>
                                {% endif %}
                            {% endif %}
                            {% if perms.auth.add_group or perms.users.add_user or perms.facility.add_area or perms.facility.add_box or perms.activities.change_activity %}
                                <div class="dropdown-divider"></div>
                                <p class="text-center font-weight-bolder">Create</p>
                                {% if perms.auth.add_group %}
                                <a class="dropdown-item text-center" href="{% url 'users:group-create' %}">Group</a>
                                {% endif %}
                                {% if perms.users.add_user %}
                                <a class="dropdown-item text-center" href="{% url 'users:user-create' %}">User</a>
                                {% endif %}
                                {% if perms.facility.add_area %}
                                <a class="dropdown-item text-center" href="{% url 'facility:area-create' %}">Area</a>
                                {% endif %}
                                {% if perms.facility.add_box %}
                                <a class="dropdown-item text-center" href="{% url 'facility:box-create' %}">Box</a>
                                {% endif %}
                                {% if perms.activities.change_activity %}
                                <a class="dropdown-item text-center" href="{% url 'activities:activity-create' %}">Activity</a>
                                {% endif %}
                            {% endif %}
                            {% if perms.facility.view_legalinformation or perms.facility.change_legalinformation %}
                                <div class="dropdown-divider"></div>
                                <p class="text-center font-weight-bolder">Legal Information</p>
                                {% if perms.facility.view_legalinformation %}
                                <a class="dropdown-item text-center" href="{% url 'facility:legalinformation-info' %}">View</a>
                                {% endif %}
                                {% if perms.facility.change_legalinformation %}
                                <a class="dropdown-item text-center" href="{% url 'facility:legalinformation-update' %}">Update</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.animals.view_animal or perms.animals.add_animal %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-center"
                           data-toggle="dropdown" href="#" id="navbarDropdownAnimals" role="button">
                            Animals
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% if perms.animals.view_animal %}
                            <a class="dropdown-item text-center" href="{% url 'animals:animals-list' %}">View</a>
                            {% endif %}
                            {% if perms.animals.add_animal %}
                            <a class="dropdown-item text-center" href="{% url 'animals:animal-create' %}">Register</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.notifications.view_notification or perms.notifications.view_my_notifications or perms.notifications.add_notification %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-center"
                           data-toggle="dropdown" href="#" id="navbarDropdownNotifications" role="button">
                            Notifications
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% if perms.notifications.view_notification %}
                            <a class="dropdown-item text-center" href="{% url 'notifications:notifications-list' %}">View</a>
                            {% elif perms.notifications.view_my_notifications %}
                            <a class="dropdown-item text-center" href="{% url 'notifications:notifications-list' %}">My Notifications</a>
                            {% endif %}
                            {% if perms.notifications.add_notification %}
                            <a class="dropdown-item text-center" href="{% url 'notifications:notification-create' %}">Create and Send</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if perms.activities.view_event or perms.activities.add_event %}
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-center"
                           data-toggle="dropdown" href="#" id="navbarDropdownCalendar" role="button">
                            Calendar
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
                            {% if perms.activities.view_event %}
                            <a class="dropdown-item text-center" href="{% url 'activities:events-list' %}">View Events</a>
                            {% endif %}
                            {% if perms.activities.add_event %}
                            <a class="dropdown-item text-center" href="{% url 'activities:event-create' %}">Create Event</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'users:user-login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% endblock %}


{% block modal %}
<div id="modal">
    <button aria-label="Close" class="close modal-close" id="close" onclick="closeModal()" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <img alt="Modal Image" id="imgmodal" src="">
</div>
{% endblock %}


{% block footer %}
<footer class="footer mt-auto pt-3 pb-2 bg-light">
    <div class="row text-center mr-0 ml-0 align-items-center">
        <div class="col-md-8">
            <p class="lead"><span class="copyleft">&copy;</span> Copyleft <script>document.write(new Date().getFullYear())</script> 0xDevelopers. All rights are not reserved.</p>
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-secondary" onclick="topFunction()" type="button">
                <i class="bi bi-arrow-up"></i>
            </button>
        </div>
    </div>
</footer>
{% endblock %}
